body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Oxygen', sans-serif, Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40; }

hr.light {
  border-color: #fff; }

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    color: #f05f40; }
.bg-im{ background-image: url('../img/bg.jpg'); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif; }

